.navbarContainer{
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
  position: fixed !important;
  top: 0;
  width: 100%;
  padding: 1rem 0 !important;
  overflow-x: hidden;
  z-index: 10;
}

.containerSearch{
  width: 50%;
}

.searchBar{
  width: 100%;
  border: 1px solid var(--color-5) ;
  border-radius: 1rem;
  padding: 4px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search, .search:focus, .search:active, .search:focus-visible, .search:target, .search:hover{
  border: none;
  outline-offset: none;
  outline: none;
}

.buttonFilter{
  margin-left: 1rem;
  outline: none;
  border: 1px solid var(--color-5);
  padding: .25rem .5rem;
  border-radius: .5rem;
  background-color: white;
}

.iconContainer{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.iconContainerLogin{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.buttonLogin{
  display: flex;
  gap: 1rem;
}

.buttonAuth{
  width: 100px !important;
}

.btnModalClose{
  box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e') center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
}

.checkContainer{
  gap: .5rem;
}